* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: absolute;
  width: 100%;
  height: 15vh;
  left: 0;
  top: 0;
  background: pink;
  color: red;
  padding: 15px 20px;
  background: transparent;
}
header .navbar {
  position: fixed;
  display: block;
  background-color: white;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 1512px;
  height: 100px;
  z-index: 10;
}
header .logo {
  position: absolute;
  width: 147px;
  height: 36px;
  left: 119px;
  top: 27px;
  display: flex;
  align-items: center;
  color: #0D0E43;
  text-decoration: none;
  font-family: "Josephin Sans";
  font-style: "bold";
  font-size: 20px;
  line-height: 20px;
}
header img {
  width: 38px;
  height: 29px;
  margin-top: 0;
  margin-left: 200px;
  display: flex;
  align-items: center;
}
header .navbar_items {
  margin-top: 10px;
  position: absolute;
  width: 365px;
  height: 21px;
  left: 300px;
  top: 27px;
  display: flex;
  justify-content: space-between;
}
header .navbar-item {
  list-style: none;
  top: 34px;
}
header .navbar_link {
  text-decoration: none;
  color: #0D0E43;
  top: 34px;
}
header .navbar_link span {
  color: #FB2E86;
}
header .navbar_link .dropbtn {
  color: #FB2E86;
  border: none;
  background-color: inherit;
}
header .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
header .dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
header .dropdown-content a:hover {
  background-color: #ddd;
}
header .dropdown:hover .dropdown-content {
  display: block;
}
header form.example input[type=text] {
  position: absolute;
  width: 230px;
  height: 36px;
  left: 850px;
  top: 30px;
  display: flex;
  align-items: center;
  float: left;
  padding: 5px;
  font-size: 17px;
  border: 1px solid grey;
  background: inherit;
}
header form.example button {
  position: absolute;
  width: 30px;
  height: 36px;
  left: 1070px;
  top: 30px;
  display: flex;
  align-items: center;
  float: left;
  padding: 5px;
  background: #FB2E86;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}
header form.example button:hover {
  background: #0b7dda;
}
header form.example::after {
  content: "";
  clear: both;
  display: table;
}
header .submit-button {
  position: absolute;
  height: 36px;
  left: 1150px;
  top: 27px;
  padding: 10px 20px;
  display: flex;
  border-radius: 100px;
  border: none;
  width: 94px;
  height: 38px;
  color: red;
  background-color: pink;
}
header .submit-button2 {
  position: absolute;
  height: 36px;
  left: 1270px;
  top: 27px;
  padding: 10px 23px;
  display: flex;
  border-radius: 100px;
  border: none;
  width: 94px;
  height: 38px;
  color: red;
  background-color: pink;
}

#freelances h1 {
  height: 200px;
}

.two {
  width: 1512px;
  margin: 0;
  height: 100vh;
  top: 110px;
  position: absolute;
}

.title {
  position: absolute;
  width: 200px;
  height: 88px;
  left: 1000px;
  top: 250px;
  display: flex;
  align-items: center;
  color: white;
  font-size: 36px;
  line-height: 44px;
  align-items: left;
}

h1 {
  position: absolute;
  width: 650px;
  height: 120px;
  top: 960px;
  left: 153px;
  display: flex;
  align-items: center;
  color: black;
  font-size: 32px;
  font-weight: 600;
}

.promote {
  position: absolute;
  width: 1000px;
  height: 1850px;
  top: 130px;
  left: 153px;
  display: flex;
  align-items: center;
  color: black;
  font-size: 32px;
  font-weight: 600;
}

.text {
  position: absolute;
  width: 650px;
  height: 120px;
  left: 180px;
  top: 1090px;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: black;
}

.three {
  position: absolute;
  width: 242px;
  height: 242px;
  left: 1000px;
  top: 1040px;
}

.container2 {
  position: absolute;
  display: flex;
  align-items: center;
  margin: 0;
  width: 1512px;
  height: 331px;
  left: 0;
  top: 1400px;
  background-color: #D9D9D9;
}
.container2 h2 {
  position: absolute;
  top: 42px;
  width: 250px;
  height: 70px;
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  margin-left: 650px;
}
.container2 .first {
  position: absolute;
  width: 245px;
  top: 250px;
  height: 48px;
  font-size: 20px;
  font-weight: 600;
  margin-left: 250px;
}
.container2 .bir {
  width: 135px;
  height: 121px;
  top: 150px;
  margin-left: 300px;
}
.container2 .second {
  position: absolute;
  width: 245px;
  top: 250px;
  height: 48px;
  font-size: 20px;
  font-weight: 600;
  left: 650px;
}
.container2 .iki {
  width: 135px;
  height: 121px;
  top: 150px;
  margin-left: 250px;
}
.container2 .third {
  position: absolute;
  width: 270px;
  top: 250px;
  height: 48px;
  font-size: 20px;
  font-weight: 600;
  left: 1050px;
}
.container2 .uc {
  width: 135px;
  height: 121px;
  top: 150px;
  margin-left: 250px;
}

.container3 {
  position: absolute;
  display: flex;
  align-items: center;
  margin: 0;
  width: 1512px;
  height: 331px;
  left: 0;
  top: 1850px;
}
.container3 h3 {
  color: white;
  position: absolute;
  width: 300px;
  top: 200px;
  height: 48px;
  font-size: 40px;
  font-weight: 600;
  margin-left: 100px;
}
.container3 .creative {
  color: white;
  position: absolute;
  width: 600px;
  top: 80px;
  height: 48px;
  font-size: 40px;
  font-weight: 600;
  margin-left: 570px;
}
.container3 .learn {
  color: white;
  position: absolute;
  width: 300px;
  top: 200px;
  height: 48px;
  font-size: 40px;
  font-weight: 600;
  margin-left: 1130px;
}

.container4 {
  position: absolute;
  display: flex;
  align-items: center;
  margin: 0;
  width: 1512px;
  height: 331px;
  left: 0;
  top: 2300px;
  background-color: #EEEFFB;
}
.container4 .free {
  position: absolute;
  width: 90px;
  height: 16px;
  margin-left: 600px;
  top: 50px;
  font-size: 16px;
  font-weight: 700;
}
.container4 .tutor {
  position: absolute;
  width: 90px;
  height: 16px;
  margin-left: 800px;
  top: 50px;
  font-size: 16px;
  font-weight: 700;
}
.container4 form.example input[type=email] {
  position: absolute;
  width: 250px;
  height: 44px;
  left: 100px;
  top: 150px;
  display: flex;
  align-items: center;
  float: left;
  padding: 5px;
  font-size: 17px;
  border: none;
  background: white;
}
.container4 form.example button {
  position: absolute;
  width: 120px;
  height: 44px;
  left: 350px;
  top: 150px;
  display: flex;
  align-items: center;
  float: left;
  padding: 10px 25px;
  background: #FB2E86;
  color: white;
  font-size: 17px;
  border: none;
  border-left: none;
  cursor: pointer;
}
.container4 form.example button:hover {
  background: #0b7dda;
}
.container4 form.example::after {
  content: "";
  clear: both;
  display: table;
}
.container4 .inf {
  position: absolute;
  width: 90px;
  height: 19px;
  left: 100px;
  top: 250px;
  font-size: 16px;
  font-weight: 700;
  color: #8A8FB9;
}
.container4 .add {
  position: absolute;
  width: 450px;
  height: 19px;
  left: 100px;
  top: 270px;
  font-size: 16px;
  font-weight: 700;
  color: #8A8FB9;
}

.container5 {
  position: absolute;
  display: flex;
  align-items: center;
  margin: 0;
  width: 1512px;
  height: 53px;
  left: 0;
  top: 2600px;
  background-color: #E7E4F8;
}

.container6 {
  position: absolute;
  display: flex;
  align-items: center;
  margin: 0;
  width: 1512px;
  height: 53px;
  left: 0;
  top: 2653px;
  background-color: #EEEFFB;
}
.container6 h5 {
  width: 400px;
  margin-left: 100px;
  top: 5px;
  height: 19px;
  color: #5C48C8;
  font-size: 20px;
}
.container6 .fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
.container6 .fa:hover {
  opacity: 0.7;
}
.container6 .fa-facebook {
  margin-left: 600px;
}

.button1 {
  position: absolute;
  display: flex;
  align-items: center;
  margin: 0;
  width: 1512px;
  height: 53px;
  left: 0;
  top: 2700px;
  background-color: #EEEFFB;
}/*# sourceMappingURL=style.css.map */